<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page</title>
  </head>
  <body>
    <h1>Profile page</h1>
    <h2>Welcome <%= user.name %></h2>
    <h3>Your email is <%= user.email %></h3>
    <h3>You are living in <%= user.city %> city</h3>

    <ul>
      <% user.skills.forEach((item)=>{%>
      <li> <%= item%> </li>
      <% }) %>
    </ul>
  </body>
</html>
